<template>
  <FiltersFilter
    label="Author"
    :items="data.author"
    valueKey="id"
    labelKey="name"
    @selected="onSelect"
  />
</template>
<script>
import { filters } from "@/lib/stores/filters"
import { useQuery } from "@urql/vue";
import authors from "@/lib/queries/authors";

export default {
  async setup() {
    const { data } = await useQuery({
      query: authors,
    });

    return {
      filters,
      data,
    };
  },
  methods: {
    onSelect(event) {
      this.filters.author = event;
    },
  },
};
</script>
