<template>
  <FiltersFilter
    label="City"
    :items="data.city"
    valueKey="id"
    labelKey="name"
    @selected="onSelect"
  />
</template>
<script>
import { filters } from "@/lib/stores/filters"
import { useQuery } from "@urql/vue";
import cities from "@/lib/queries/cities";

export default {
  async setup() {
    const { data } = await useQuery({
      query: cities,
    });

    return {
      data,
      filters,
    };
  },
  methods: {
    onSelect(event) {
      this.filters.city = event;
    },
  },
};
</script>
