<template>
  <FiltersFilter
    label="Country"
    :items="data.countries"
    valueKey="id"
    labelKey="name"
    @selected="onSelect"
  />
</template>
<script>
import { filters } from "@/lib/stores/filters"
import { useQuery } from "@urql/vue";
import countries from "@/lib/queries/countries";

export default {
  async setup() {
    const { data } = await useQuery({
      query: countries,
    });

    return {
      filters,
      data,
    };
  },
  methods: {
    onSelect(event) {
      this.filters.country = event;
    },
  },
};
</script>
