<template>
  <div class="md:flex justify-center">
    <div class="m-3 ">
      <select
        class="form-select block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        aria-label="Default select example"
        v-model="selected"
      >
        <option :value="null">{{ label }}</option>
        <option
          :value="item[valueKey]"
          v-for="item in items"
          :key="item[valueKey]"
        >
          {{ item[labelKey] }}
        </option>
      </select>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";
export default {
  props: {
    label: String,
    items: Array,
    valueKey: String,
    labelKey: String,
  },
  emits: ["selected"],
  setup() {
    const selected = ref(null);
    return {
      selected,
    };
  },
  watch: {
    selected(selected) {
      this.$emit("selected", selected);
    },
  },
};
</script>
