<template>
  <FiltersFilter
    label="Year"
    :items="years"
    valueKey="range"
    labelKey="name"
    @selected="onSelect"
  />
</template>
<script>
import { filters } from "@/lib/stores/filters"
const years = [
  {
    range: [0, 1800],
    name: "0-1800",
  },
  {
    range: [1801, 1900],
    name: "1800-1900",
  },
  {
    range: [1901, 1950],
    name: "1900-1950",
  },
  {
    range: [1951, 2000],
    name: "1950-2000",
  },
  {
    range: [2001, new Date().getFullYear()],
    name: "2000-present",
  },
];

export default {
  async setup() {
    return {
      years,
      filters,
    };
  },
  methods: {
    onSelect(event) {
      this.filters.years = event;
    },
  },
};
</script>
