<template>
  <Place :place="data.place_by_id" />
</template>
<script setup>
import { useQuery } from '@urql/vue';
import one from '@/lib/queries/one';

const route = useRoute();

const { data } = await useQuery({
  query: one,
  variables: { id: route.params.place, }
});

definePageMeta({
  layout: "grow",
  layoutTransition:false,
  pageTransition: false,
});
</script>
