<template>
  <div class="container mx-auto pb-2">
    <nav class="md:flex justify-center">
      <p class="m-3 text-lg">Filters:</p>
      <FiltersAuthor />
      <FiltersCountry />
      <!-- <FiltersCity /> -->
      <FiltersYear />
      <slot />
    </nav>
  </div>
</template>
