<template>
  <NuxtLink :to="`/places/${place.id}`">
    <div class="p-6 rounded-lg" :class="{
      'bg-gray-100': !selected,
      'bg-stone-500': selected
    }">      
      <img
        class="h-40 rounded w-full object-cover object-center mb-6"
        :src="pictureSrc"
        alt="content"
      />
      <h3
        class="tracking-widest text-stone-800 text-xs font-medium title-font"
      >
        <template v-if="place?.author?.[0]">{{
          place.author[0].author_id.name
        }}</template>
        <template v-if="!place?.author?.[0]">&nbsp;</template>
      </h3>
      <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
        {{ place.name }}
      </h2>
      <p class="leading-relaxed text-base" v-if="place.shortDescription">
        {{ place.shortDescription }}
      </p>
    </div>
  </NuxtLink>
</template>
<script>
export default {
  props: {
    place: Object,
    selected: Boolean,
  },
  computed: {
    pictureSrc() {
      return this.place.picture?.id
        ? `https://fwx36jsv.directus.app/assets/${this.place.picture?.id}`
        : "https://dummyimage.com/400x400";
    },
  },
};
</script>
