<template>
  <section class="text-gray-600 body-font flex flex-grow">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1
            class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
          >
            {{ config.places_title }}
          </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
          {{ config.places_text }}
        </p>
      </div>
      <filters-nav-bar />
      <div class="flex flex-wrap -m-4">
        <div
          class="xl:w-1/4 md:w-1/2 p-4 sm:w-full"
          v-for="place in items"
          :key="place.id"
        >
          <Item-card :place="place" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    items: Array,
    config: Object,
  },
};
</script>
