<template>
  <section class="text-gray-600 body-font flex flex-grow">
    <div class="container px-5 py-5 mx-auto">
   
      <div class="flex flex-wrap -m-4">
        <div
          class="xl:w-1/4 md:w-1/2 p-4"
          v-for="place in items"
          :key="place.id"
        >
          <Item-card :place="place" :selected="selected.id === place.id" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { selected } from "../lib/stores/selected";

export default {
  props: {
    items: Array,
  },
  data() {
    return {
      selected,
    }
  }
};
</script>
