<template>
  <section class="flex flex-grow" style="height: 750px">
    <mapbox-map
      :accessToken="myAccessToken"
      mapStyle="dark-v10"
      class="w-full h-full"
      auto-resize
      :zoom="1"
      :center="[0, 0]"
    >
      <mapbox-navigation-control position="bottom-left" />
      <mapbox-marker
        @click="onClick(place.id, $event)"
        :lngLat="place.coordinates.split(',').reverse()"
        v-for="place in places"
        :key="place.id"
        color="#e5e7eb"
      >
        <mapbox-popup>
          <NuxtLink :to="`/places/${place.id}`" class="text-center">
            <img :src="pictureSrc(place)" class="w-36" />
            <p>{{ place?.author?.[0]?.author_id?.name }}</p>
            <p>{{ place.name }}</p>
          </NuxtLink>
        </mapbox-popup>
      </mapbox-marker>
    </mapbox-map>
  </section>
</template>
<script>
const myAccessToken =
  "pk.eyJ1IjoiZGF2aWRiZWlqaW5obyIsImEiOiJjajhvc2VlMDIwN2VjMzNudHR3cHRjaThtIn0.mgauRkEBgMLcV160kLpxQQ";
import { selected } from "../lib/stores/selected";

export default {
  props: {
    items: Array,
  },
  emits: ["filter"],
  data: () => {
    return {
      selected,
      myAccessToken,
    };
  },
  computed: {
    places() {
      return this.items.filter((item) => item.coordinates);
    },
  },
  methods: {
    onClick(id, event) {
      this.selected.id = id;
    },
    pictureSrc(place) {
      return place.picture?.id
        ? `https://fwx36jsv.directus.app/assets/${place.picture?.id}`
        : "https://dummyimage.com/400x400";
    },
  },
};
</script>
