<template>
  <section class="text-gray-600 body-font flex flex-grow">
    <div class="container px-5 py-5 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">
        <div
          class="rounded-lg h-64 overflow-hidden"
          v-if="config?.hero_image?.id"
        >
          <img
            alt="content"
            class="object-cover object-center h-full w-full"
            :src="`https://fwx36jsv.directus.app/assets/${this.config?.hero_image?.id}`"
          />
        </div>
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div
              v-if="config?.avatar?.id"
              class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
            >
              <img
                :src="`https://fwx36jsv.directus.app/assets/${this.config?.avatar?.id}`"
                class="rounded-full"
              />
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2
                v-if="config?.avatar_title"
                class="font-medium title-font mt-4 text-gray-900 text-lg"
              >
                {{ config?.avatar_title }}
              </h2>
              <div class="w-12 h-1 bg-stone-800 rounded mt-2 mb-4"></div>
              <p v-if="config?.short_text" class="text-base">
                {{ config?.short_text }}
              </p>
            </div>
          </div>
          <div
            class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
          >
            <p v-if="config?.large_text" class="leading-relaxed text-lg mb-4">
              {{ config?.large_text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    config: Object,
  },
};
</script>
