<template>
  <section class="text-gray-600 body-font flex flex-grow">
    <div class="container px-5 py-5 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full ">
          <img
            alt="ecommerce"
            class="w-full"
            :src="pictureSrc"
            v-show="!mapVisible"
          />
          <iframe
            v-if="place?.coordinates"
            v-show="mapVisible"
            style-DISABLED="filter: grayscale(1) contrast(1.2) opacity(0.4)"
            title="map"
            scrolling="no"
            :src="`http://maps.google.com/maps?q=${place.coordinates}&z=3&output=embed`"
            width="100%"
            height="100%"
            frameborder="0"
          ></iframe>
        </div>

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
            {{ place.name }}
          </h1>

          <p class="leading-relaxed">{{ place.description }}</p>
          <div
            class="flex border-t border-gray-200 py-2"
            v-if="place.author?.length"
          >
            <span class="text-gray-500">Autor</span>
            <span class="ml-auto text-gray-900">{{
              place.author[0].author_id.name
            }}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2" v-if="place.year">
            <span class="text-gray-500">Ano</span>
            <span class="ml-auto text-gray-900">{{
              place.year
            }}</span>
          </div>
          <div
            class="flex border-t border-gray-200 py-2"
            v-if="place?.tags?.length"
          >
            <span class="text-gray-500">Tags</span>
            <span class="ml-auto text-gray-900">{{
              place.tags.join(", ")
            }}</span>
          </div>
          <div class="flex" v-if="place?.coordinates">
            <button
              class="flex ml-auto text-white bg-stone-800 border-0 py-2 px-6 focus:outline-none hover:bg-stone-900 rounded"
              @click="changeView"
            >
              Location
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    place: Object,
  },
  data() {
    return {
      mapVisible: false,
    };
  },
  methods: {
    changeView() {
      this.mapVisible = !this.mapVisible;
    },
  },
  computed: {
    pictureSrc() {
      return this.place.picture?.id
        ? `https://fwx36jsv.directus.app/assets/${this.place.picture?.id}`
        : "https://dummyimage.com/400x400";
    },
  },
};
</script>
