<template>
  <header class="text-gray-600 body-font">
    <div
      class="container mx-auto flex flex-wrap flex-col md:flex-row items-center "
    >
      <nav
        to="/"
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <img src="~/assets/img/archeese.jpg"  class="w-20 h-20 text-white p-2 rounded-full" />
        <span class="ml-3 text-xl">{{ data?.Config?.header_text }}</span>
      </nav>
      <nav
        class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
      >
        <NuxtLink to="/" class="mr-5 hover:text-gray-900">Me</NuxtLink>
        <!-- <NuxtLink to="/items" class="mr-5 hover:text-gray-900">Places</NuxtLink>
        <NuxtLink to="/map" class="mr-5 hover:text-gray-900">Map</NuxtLink> -->
        <NuxtLink to="/explore" class="mr-5 hover:text-gray-900">Explore</NuxtLink>

      </nav>
    </div>
  </header>
</template>
<script setup>
import { useQuery } from '@urql/vue';
import config from '@/lib/queries/config';

const { data } = await useQuery({
  query: config
});
</script>
