<template>
  <Me :config="data?.Config" />
</template>
<script setup>
import { useQuery } from '@urql/vue';
import config from '@/lib/queries/config';

const { data } = await useQuery({
  query: config
});


definePageMeta({
  layout: "grow",
  layoutTransition:false,
  pageTransition: false,
});
</script>
