<template>
  <list-group :items="place?.place" :config="configData.Config" @filter="onFilter"/>
</template>

<script>
import { useQuery } from "@urql/vue";
import config from '@/lib/queries/config';
import all from "@/lib/queries/all";
const baseFilter = {
  status: { _eq: "published" },
};
export default {
  async setup() {
    const filter = ref(baseFilter);
    const { data: configData } = await useQuery({
      query: config
    });
    const { data } = await useQuery({
      query: all,
      variables: {
        filter,
      },
    });
    return {
      filter,
      place: data,
      configData,
    };
  },
  data() {
    return {
      filters: {},
    };
  },
  computed: {
    parsedFilters() {
      return {
        ...baseFilter,
        ...this.countryFilter,
        ...this.cityFilter,
        ...this.yearFilter,
        ...this.authorFilter,
      };
    },
    cityFilter() {
      if (this.filters.city) {
        return {
          city: {
            id: { _eq: Number(this.filters.city) },
          },
        };
      }
      return {};
    },
    countryFilter() {
      if (this.filters.country) {
        return {
          city: {
            country: { id: { _eq: Number(this.filters.country) } },
          },
        };
      }
      return {};
    },
    yearFilter() {
      if (this.filters.year) {
        return {
          year: {
            _gte: this.filters?.year?.[0],
          },
          _and: {
            year: {
              _lte: this.filters?.year?.[1],
            },
          },
        };
      }
      return {};
    },
    authorFilter() {
      if (this.filters.author) {
        return {
          author: {
            author_id: {
              id: {
                _eq: this.filters.author,
              },
            },
          },
        };
      }
      return {};
    },
  },
  watch: {
    parsedFilters() {
      this.filter = this.parsedFilters;
    },
  },
  methods: {
    onFilter(filters) {
      this.filters = filters;
    },
  },
}</script>
