<template>
  <filters-nav-bar />
  <MapComponent :items="place?.place" />
</template>
<script>
import { filters } from "../lib/stores/filters";
import { useQuery } from "@urql/vue";
import allMap from "@/lib/queries/allMap";
const baseFilter = {
  status: { _eq: "published" },
  coordinates: { _neq: null },
};
export default {
  async setup() {
    const filter = ref(baseFilter);
    const { data } = await useQuery({
      query: allMap,
      variables: {
        filter,
      },
    });
    return {
      filter,
      place: data,
    };
  },
  data() {
    return {
      filters,
      filters: {},
    };
  },
  computed: {
    parsedFilters() {
      return {
        ...baseFilter,
        ...this.countryFilter,
        ...this.cityFilter,
        ...this.yearFilter,
        ...this.authorFilter,
      };
    },
    cityFilter() {
      if (this.filters.city) {
        return {
          city: {
            id: { _eq: Number(this.filters.city) },
          },
        };
      }
      return {};
    },
    countryFilter() {
      if (this.filters.country) {
        return {
          city: {
            country: { id: { _eq: Number(this.filters.country) } },
          },
        };
      }
      return {};
    },
    yearFilter() {
      if (this.filters.year) {
        return {
          year: {
            _gte: this.filters?.year?.[0],
          },
          _and: {
            year: {
              _lte: this.filters?.year?.[1],
            },
          },
        };
      }
      return {};
    },
    authorFilter() {
      if (this.filters.author) {
        return {
          author: {
            author_id: {
              id: {
                _eq: this.filters.author,
              },
            },
          },
        };
      }
      return {};
    },
  },
  watch: {
    parsedFilters() {
      this.filter = this.parsedFilters;
    },
  },
};
definePageMeta({
  layout: "grow",
  layoutTransition: false,
  pageTransition: false,
});
</script>
